.plan.panel {

  .panel-body.processing {
    filter: blur(2px);
  }

  &.active {
    box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.05);
  }

  label.active {
    bottom: -30px;
    position: relative;
    font-size: 16px;
    line-height: 1.33;
    background-color: transparent;
    color: inherit;
    padding: 6px 12px;
    border-radius: 0px;
    vertical-align: middle;
  }
}

.plan-schedule {
  margin: 3px;
  padding: 10px;
  border: 1px solid #46B9D8;
  border-radius: 4px;

  span {
     line-height: 1.5;
  }

}
