.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-md {
  padding: 20px !important;
}

.padding-hor {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-vert {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-xs {
  padding: 5px !important;
}

.padding-xs-hor {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-xs-left {
  padding-left: 5px !important;
}

.padding-xs-right {
  padding-right: 5px !important;
}

.padding-xs-vert {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.padding-xs-top {
  padding-top: 5px !important;
}

.padding-xs-bottom {
  padding-bottom: 5px !important;
}

.padding-sm {
  padding: 10px !important;
}

.padding-sm-hor {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-sm-left {
  padding-left: 10px !important;
}

.padding-sm-right {
  padding-right: 10px !important;
}

.padding-sm-vert {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-sm-top {
  padding-top: 10px !important;
}

.padding-sm-bottom {
  padding-bottom: 10px !important;
}

.padding-md-hor {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-md-left {
  padding-left: 20px !important;
}

.padding-md-right {
  padding-right: 20px !important;
}

.padding-md-vert {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-md-top {
  padding-top: 20px !important;
}

.padding-md-bottom {
  padding-bottom: 20px !important;
}

.padding-lg {
  padding: 40px !important;
}

.padding-lg-vert {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.padding-lg-top {
  padding-top: 40px !important;
}

.padding-lg-bottom {
  padding-bottom: 40px !important;
}

.padding-lg-hor {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding-lg-left {
  padding-left: 40px !important;
}

.padding-lg-right {
  padding-right: 40px !important;
}

.padding-xlg-vert {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-xlg-top {
  padding-top: 60px !important;
}

.padding-xlg-bottom {
  padding-bottom: 60px !important;
}

.padding-xlg-hor {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.padding-xlg-left {
  padding-left: 60px !important;
}

.padding-xlg-right {
  padding-right: 60px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-vert {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-xs {
  margin: 5px !important;
}

.margin-xs-vert {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-xs-top {
  margin-top: 5px !important;
}

.margin-xs-bottom {
  margin-bottom: 5px !important;
}

.margin-xs-hor {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-xs-left {
  margin-left: 5px !important;
}

.margin-xs-right {
  margin-right: 5px !important;
}

.margin-sm {
  margin: 10px !important;
}

.margin-sm-vert {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-sm-top {
  margin-top: 10px !important;
}

.margin-sm-bottom {
  margin-bottom: 10px !important;
}

.margin-sm-hor {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-sm-left {
  margin-left: 10px !important;
}

.margin-sm-right {
  margin-right: 10px !important;
}

.margin-md {
  margin: 20px !important;
}

.margin-md-hor {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.margin-md-vert {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-md-top {
  margin-top: 20px !important;
}

.margin-md-bottom {
  margin-bottom: 20px !important;
}

.margin-lg-hor {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.margin-md-left {
  margin-left: 20px !important;
}

.margin-md-right {
  margin-right: 20px !important;
}

.margin-lg-vert {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margin-lg {
  margin: 40px !important;
}
.margin-lg-top {
  margin-top: 40px !important;
}

.margin-lg-bottom {
  margin-bottom: 40px !important;
}

.margin-xlg-vert {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.margin-xlg-top {
  margin-top: 60px !important;
}

.margin-xlg-bottom {
  margin-bottom: 60px !important;
}
