// Colors

$primary-color: #E16123;

$danger-color: #D0011B;

$base-background-color: #EBEBEA;
$secondary-background-color: #A0A0A0;

$base-dark-color: #3F4140;
$secondary-dark-color: #696B6B;

$black-color: #1C2324;
$white-color: #FFFFFF;
$gray-color: #B1B1b1;
$gray-color2: #EFEFEF;

$ocean: #095C72;
$light-blue: #6081b6;

// Text colors
$text-normal-cl: #333;
$text-medium-cl: #555;
$text-subtle-cl: #999;
$text-medium-light-cl: rgba(255,255,255,0.8);
$text-light-cl: #FFF;


// Typography
$base-font-family: "Lato", sans-serif;
$base-thin-font-family: $base-font-family;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 17px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

$navbar-height: 60px;

